#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
}

.map-toggle-button-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.map-toggle-button {
    position: relative;
    top: 1rem;
    right: 1rem;
    z-index: 1200;
    background: #1f2937;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #f3f4f6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition:
        background 0.2s ease,
        transform 0.1s ease;
}

.map-toggle-button:hover {
    background: #374151;
}

.map-toggle-button:active {
    transform: scale(0.97);
}

.marker-wrapper {
    position: relative;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.marker-base {
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    transform: scale(1.25);
}

.marker-base-icon {
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    transform: scale(1.5);
}

.marker-checkbox,
.marker-checkmark {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    pointer-events: none;
    z-index: 10;
}

.marker-checkbox {
    background: #22c55e;
}
.marker-checkbox::after {
    content: "✓";
    color: white;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
}
.marker-checkbox.unchecked {
    background: #6b7280;
}
.marker-checkbox.unchecked::after {
    content: "";
}

.marker-checkmark {
    background: #22c55e;
}
.marker-checkmark svg {
    width: 9px;
    height: 9px;
    fill: white;
}

.leaflet-popup-content-wrapper {
    background-color: #1e1e1e; /* dark background */
    color: #f3f4f6; /* light text */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.leaflet-popup-tip {
    background: #1e1e1e;
}

.leaflet-popup-content a {
    color: #5ea3ff;
}

.leaflet-popup-content a:hover {
    color: #7aaeff;
}

.custom-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #f3f4f6;
}

.custom-popup-content b {
    margin-bottom: 6px;
    font-weight: bold;
}

.custom-popup-content div {
    font-size: 0.875rem;
}

.custom-popup-content label {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 6px;
    justify-content: center;
}
